* {
    outline: none;
    text-decoration: none;
}

body{
    background-image: linear-gradient(to right, rgba(95, 95, 95, 1), rgba(134, 165, 195, 1), rgba(0, 163, 255, 1));
}

#container {
    width: 100%;
    max-width: 450px;
    margin: 100px auto;
    padding-top: 40px;
    border: 1px solid black;
    height: 450px;
    text-align: center;
    border-radius: 20px;
    font-size: 17px;
}

#container form #profile {
    height: 140px;
    margin-bottom: 30px;
}

#container form #profile img, p {
    transition: 0.8s;
}

#container form #inputs input {
    width: 280px;
    height: 35px;
    transition: 1s;
    font-size: 17px;
    padding-left: 5px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: rgba(240, 247, 251, 0.12);
}

#container form #inputs #class_number {
    width: 330px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
}

#container form #inputs #class_number input {
    width: 120px;
}

#container form #inputs button {
    color: white;
    width: 305px;
    height: 38px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.72);
    font-family: 'Times New Roman', Times, serif;
}

#container #bottons {
    width: 40%;
    margin: auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
}

#container #bottons a img {
    width: 40px;
    margin-top: 50px;
    /* background-color: bisque; */
}

/*===================================================================================
                                    EVENTOS
===================================================================================*/
#container #profile:hover img {
    scale: 1.1;
}

#container #profile:hover p {
    color: white;
    font-size: 19px;
}

#container form #inputs 
#name:focus, #class_number #class:focus, #class_number #number:focus {
    padding-left: 15px;
    color: white;
    font-size: 17px;
}